<!DOCTYPE html>
<html lang="ro" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Nicoi Alexandru">
    <title>AlexTruck Store</title>
    <link rel="stylesheet" href="resurse/css/elevi.css"/>
</head>

<body>
<header>
    <div id="div-header">
    <h1 id="top">SIMULARE TEHNICI WEB</h1>
</header>


<main>
    <script type="text/javascript" src=/resurse/js/elevi.js></script>
    <h2>Bine ai venit</h2>
</main>

<footer>
</footer>
</body>
</html>